body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

background:#f7f7f3;

}

.desk{

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

radial-gradient(

circle at center,

#ffffff,

#efefeb

);

}
