body{

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(

180deg,

#ffffff,

#f5f5f2

);

}

/* escritorio */

.desk{

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:

radial-gradient(

rgba(0,0,0,.02) 1px,

transparent 1px

);

background-size:16px 16px;

}
