.disc{

position:absolute;

width:205px;

height:205px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:

conic-gradient(

#dcdcdc,

#ffffff,

#dddddd,

#fafafa,

#d0d0d0,

#ffffff,

#dcdcdc

);

box-shadow:

0 0 25px rgba(255,255,255,.8);

transition:1s;

}

.disc::before{

content:"";

position:absolute;

inset:0;

border-radius:50%;

background:

conic-gradient(

transparent,

rgba(255,0,255,.10),

transparent,

rgba(0,255,255,.10),

transparent,

rgba(255,255,0,.10),

transparent

);

animation:discRainbow 14s linear infinite;

}

.disc-label{

position:absolute;

top:28px;

font-size:20px;

font-weight:700;

letter-spacing:4px;

text-align:center;

color:#333;

z-index:3;

}

.disc-rim{

position:absolute;

width:170px;

height:170px;

border-radius:50%;

border:2px solid rgba(255,255,255,.4);

}

.ring{

position:absolute;

width:70px;

height:70px;

border-radius:50%;

border:10px solid rgba(255,255,255,.6);

}

.hub{

position:absolute;

width:34px;

height:34px;

border-radius:50%;

background:#c9c9c9;

}

.hole{

position:absolute;

width:16px;

height:16px;

border-radius:50%;

background:#9e9e9e;

}

@keyframes discRainbow{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}
