.jewel-case{

position:relative;

width:360px;

height:360px;

transform-style:preserve-3d;

perspective:1800px;

}

/* BASE */

.base{

position:absolute;

width:100%;

height:100%;

border-radius:10px;

background:#d5d5d5;

box-shadow:

0 30px 70px rgba(0,0,0,.25);

overflow:hidden;

}

/* TAPA */

.lid{

position:absolute;

width:100%;

height:100%;

padding:14px;

transform-origin:left center;

transition:1s;

z-index:5;

background:

rgba(255,255,255,.25);

backdrop-filter:blur(5px);

border:2px solid rgba(255,255,255,.7);

border-radius:10px;

}

/* PORTADA */

.cover{

width:100%;

height:100%;

overflow:hidden;

background:#ddd;

}

.cover-image{

width:100%;

height:100%;

object-fit:contain;

}

/* BANDEJA */

.tray{

position:absolute;

width:100%;

height:100%;

display:flex;

justify-content:center;

align-items:center;

}

/* CENTRO */

.disc-holder{

position:absolute;

width:120px;

height:120px;

border-radius:50%;

background:

radial-gradient(

#e8e8e8,

#bfbfbf

);

}

/* CD */

.disc{

position:absolute;

width:220px;

height:220px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:

conic-gradient(

#ececec,

#ffffff,

#cfcfcf,

#d8d8d8,

#fafafa,

#cfcfcf,

#ececec

);

box-shadow:

0 0 25px rgba(255,255,255,.7);

transition:.6s;

}

/* ARO */

.ring{

position:absolute;

width:82px;

height:82px;

border-radius:50%;

border:10px solid rgba(255,255,255,.5);

}

/* AGUJERO */

.hole{

position:absolute;

width:28px;

height:28px;

border-radius:50%;

background:#bdbdbd;

}
