*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#efefef;

font-family:sans-serif;

overflow:hidden;

}

.scene{

perspective:1800px;

}

.case{

position:relative;

width:360px;

height:360px;

transform-style:preserve-3d;

transition:1s;

}

.base{

position:absolute;

width:100%;

height:100%;

background:

linear-gradient(
145deg,
#d9d9d9,
#cfcfcf,
#bfbfbf
);

border-radius:10px;

overflow:hidden;

box-shadow:

0 40px 70px rgba(0,0,0,.25);

}

.back{

position:absolute;

inset:18px;

width:calc(100% - 36px);

height:calc(100% - 36px);

object-fit:cover;

}

.disc{
  
position:absolute;

overflow:hidden;
  
left:50%;

top:50%;

width:205px;

height:205px;

margin-left:-102px;

margin-top:-102px;

border-radius:50%;

background:

conic-gradient(

#d9d9d9,

white,

#cecece,

white,

#d7d7d7

);

box-shadow:

0 0 30px rgba(255,255,255,.8);

}

.disc::before{

content:"";

position:absolute;

inset:0;

border-radius:50%;

background:

conic-gradient(

transparent,

rgba(255,0,255,.12),

transparent,

rgba(0,255,255,.15),

transparent,

rgba(255,255,0,.10),

transparent

);

animation:

rainbow 10s linear infinite;

}

.disc::after{

content:"";

position:absolute;

left:50%;

top:50%;

width:18px;

height:18px;

margin-left:-9px;

margin-top:-9px;

border-radius:50%;

background:#999;

}

.lid{

position:absolute;

width:100%;

height:100%;

padding:14px;

transform-origin:left center;

transition:1s;

z-index:5;

border-radius:10px;

background:

rgba(255,255,255,.25);

backdrop-filter:blur(4px);

border:2px solid rgba(255,255,255,.7);

overflow:hidden;

}

.cover{

width:100%;

height:100%;

object-fit:cover;

display:block;

}

.lid::after{

content:"";

position:absolute;

left:-60%;

top:-20%;

width:40%;

height:180%;

background:

linear-gradient(

90deg,

transparent,

rgba(255,255,255,.7),

transparent

);

transform:rotate(18deg);

animation:shine 7s infinite;

}

.open .lid{

transform:

rotateY(-128deg);

}

@keyframes shine{

0%{

left:-60%;

}

100%{

left:160%;

}

}

/* ========================= */
/* CD EXTRAÍBLE */
/* ========================= */

.disc{

transition:

1s;

cursor:pointer;

z-index:2;

}

.open .disc{

transform:

translateX(75px);

}

.outside{

transform:

translateX(180px);

}

.outside{

animation:

spin 5s linear infinite;

}

@keyframes spin{

from{

transform:

translateX(180px)

rotate(0deg);

}

to{

transform:

translateX(180px)

rotate(360deg);

}

}

@keyframes rainbow{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}
