*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#F7F7F3;

width:100vw;
height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial, Helvetica, sans-serif;

}

/* Escritorio */

.desk{

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(

180deg,

#ffffff,

#f4f4f2

);

}

/* Jewel Case */

.jewel-case{

width:340px;

height:340px;

background:

linear-gradient(

145deg,

rgba(255,255,255,.45),

rgba(220,220,220,.15)

);

border:

2px solid rgba(255,255,255,.8);

border-radius:8px;

box-shadow:

0 30px 60px rgba(0,0,0,.18);

padding:15px;

backdrop-filter:blur(6px);

}

/* Portada */

.cover{

width:100%;

height:100%;

background:#d8d8d8;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:1.2rem;

}
